# tika server
TIKA_SERVER_URL=http://tika:9998
# controll search engines
USE_SEARXNG_SEARCH=yes
USE_DUCKDUCKGO_SEARCH=no
# searngx url
SEARXNG_URL=http://searxng:8080
# other settings
PAGE_FETCH_TIMEOUT=15
PAGE_MAX_CONTENT_LENGTH=50000
SEARXNG_TIMEOUT=15
# mcp server bind
MCP_HOST=0.0.0.0
MCP_PORT=9200
